<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paginação
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let pessoa of pessoas">
    <ion-item>
      <ion-label>Nome</ion-label>
      {{pessoa.name}}
    </ion-item>
  </ion-list>
 <ion-infinite-scroll threshold=" 100px" (ionInfinite)="showMorePeoples($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>